@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    font-size: 16;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: radial-gradient(circle, rgb(58, 51, 51), #19192e);
    color: #ffffff;
}
.container {
    width: 100%;
    height: 100dvh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.login {
    width: 100%;
    max-width: 330px;
    background-color: #191953;
    border-radius: 5px;
    padding: 20px;
}

.login > h2{
    text-align: center;
    font-family: 'Bungee Spice', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.login_form {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

.login_input {
    border: none;
    padding: 6px;
    font-size: 0.81rem;
    font-weight: 600;
    background-color: #121212;
    color: #f2f2f2;
    outline: none;
    border-radius: 5px;
}
 
.login_input:focus {
    outline: 2px solid #f2f2f2;
}

.login_button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.85rem;
    font-weight: 700;
    background-color: #ddd;
    cursor: pointer;
    color: #121212;
}

.login_button:hover {
    background-color: #ddddddc8;
}
